.Soda {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
    width: 1500px;
    margin: auto;
    background-position: center;
  }

  .Soda img {
      display: inline-block;
      height: 500px;
  }

  .Soda p {
    display: inline-block;
}
